<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Nueva cancha', new_playfield_path, class: 'btn btn-primary' %>
  </div>
</div>

<br>

<div class="card">
  <h5 class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-primary">
    Canchas
  </h5>

  <div class="card-body">
<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo cancha</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @playfields.each do |playfield| %>
      <tr>
        <td><%= playfield.name %></td>
        <td><%= playfield.type %></td>
        <td><%= link_to 'Ver', playfield %></td>
        <td><%= link_to 'Editar', edit_playfield_path(playfield) %></td>
        <td><%= link_to 'Eliminar', playfield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
